.article-overview {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    color: black;
  }

.article-list-entry {
    border-style: solid;
    border-width: 0.01em;
    border-radius: 0.2em;
    padding: 0.1em;
    color: inherit;
  }

.mat-list-item {
    justify-content: space-between;
  }

.article-overview__create-button {
    position: fixed;
    bottom: 10px;
    right: 15%;
    z-index: 1;
    color: white;
  }

.article-overview__nuke-button {
    position: fixed;
    bottom: 10px;
    left: 15%;
    z-index: 1;
  }

.article-list-entry__title {
    width: 40em;
    max-width: 40em;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

.article-list-entry__meta-controls {
    align-items: center;
    font-weight: lighter;
  }

.meta-controls__created-at-time {
    margin-left: 1em;
  }

.meta-controls__buttons {
    margin-left: 1.5em;
  }

.mat-icon-button {
    color: var(--color-primary);
  }

.default-message {
    font-style: italic;
    color: var(--color-primary);
    text-align: center;
    margin-top: 20%;
  }