<div *ngIf="article">
    <h1 class="article-header">{{ article.title }}</h1>
    <div class="article-meta">
        <time class="article-meta__time" [dateTime]="article.createdAt">
            <span class>{{ article.createdAt }}</span>
            <span class>Uhr</span>
        </time>
        <time class="article-meta__date" [dateTime]="article.createdAt">
            <span class>{{ article.createdAt }}</span>
        </time>
    </div>
    <div class = "article-content">
        <p>{{ article.content }}</p>
    </div>
</div>